/* Default scrollbar (light mode) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77);
  border: 2px solid #313131;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
.dark * {
  scrollbar-color: rgb(52, 72, 77) #3b3b3b00;
}
